.profile{
    width: 100% !important;
    
}
.header {
    background: linear-gradient(to right, #ec2F4B, #009FFF);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  text-align: center;
  margin: 70px 0;
}

.profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.stats {
  display: flex;
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}
