

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.modal__background {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__window {
  background:#007bff;
  box-sizing: border-box;
  padding: 29px;
  border: 2px solid #d5ddff;
  border-radius: 15px;
}


.auth-form {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.la-eye-slash{
  background-color: #fff;
}
.auth-form__label {
  margin-bottom: 40px;
  position: relative;
}

.auth-form__placeholder {
  position: absolute;
  color: #ffffffc6;
  cursor: text;
  font-size: 16px;
  top: 9px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.auth-form__placeholder.focus {
  top: -12px;
  font-size: 12px;
}

.auth-form__input {
  position: relative;
  width: 240px;
  height: 40px;
  background: transparent;
  color: #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0 1px 0 0 #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
  margin-right: 10px;
}

.auth-form__input.focus {
  -webkit-box-shadow: 0 2px 0 0 #bbb;
  box-shadow: 0 2px 0 0 #bbb;
}

.auth-form__toggler,
.auth-form__icon,
.auth-form__checkbox {
  position: absolute;
  width: 18px;
  height: 18px;
}

.auth-form__checkbox {
  cursor: inherit;
}

.auth-form__toggler {
  cursor: pointer;
  right: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0.7px solid rgb(255, 255, 255);
}

.auth-form__icon {
  color: #ffffff;
}

.auth-form__toggler:hover .auth-form__icon {
  color: #ffffff;
}

.password-toggler {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}

.auth-form__answer {
  height: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 30px;
}

.auth-form__submit {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  border: 1px solid #ccc;
  height: 50px;
  border-radius: 10px;
  background: #fff;
  color: #007bff;
  outline: none;
}

.auth-form__submit:hover {
  background: #d5ddff;
  border: 1px solid #fff;
  color: #008236;
}

.auth-form__bottom {
  margin-top: 30px;
  font-size: 15px;
  color: #ccc;
  text-align: center;
}

.auth-form__bottom  p {
  margin-left: 10PX;
}

.auth-form__bottom  p:hover {
  color: #ffffff !important;
  font-weight: 500;
  margin-left: 10PX;
  cursor: grab;
}

.auth-form h1{
   color: #ffffff;
   margin-bottom: 20px;
}
.name{
   display: flex;
}
.auth-form__bottom a{
  color: #ffffff;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 2;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  
}